title: TrueeIstDoof

mode: test

pseudo_data_fraction: 0.1

number_all_variables: 1

source_file_moca: NeutrinoMC.root
roottree_moca: Signal_MC_Akzeptanz

branch_x: Energie log
limits_x: 0 2

branch_y: AnzahlHits log
number_y_bins: 40 log

number_deg_free: 5
max_number_deg_free: 20

number_knots: 5
max_number_knots: 14

number_bins: 8
max_number_bins: 8

# erst ab Aufgabe f) einkommentieren
#mc_func:
