title: Aufgabe12

mode: test

pseudo_data_fraction: 0.1

number_all_variables: 1

#source_file_data: NeutrinoMC.root
#roottree_data: 
source_file_moca: NeutrinoMC.root
roottree_moca: Signal_MC_Akzeptanz

branch_x: Energie log 
limits_x: 0 2 #scheint schon in TeV zu sein, aber halt log-miert.

branch_y: AnzahlHits log
number_y_bins: 50 log

number_deg_free: 3
max_number_deg_free: 15

number_knots: 5
max_number_knots: 11

number_bins: 8
max_number_bins: 8

# erst ab Aufgabe f) einkommentieren
#mc_func:
