title: Aufgabe12

mode: test

pseudo_data_fraction: 0.1

number_all_variables: 1

#source_file_data: NeutrinoMC.root
#roottree_data: 
source_file_moca: NeutrinoMC.root
roottree_moca: Signal_MC_Akzeptanz

branch_x: Energie log 
limits_x: 0 100 #scheint schon in TeV zu sein

branch_y: AnzahlHits log
number_y_bins: 20

number_deg_free: 5
max_number_deg_free: 10

number_knots: 12
max_number_knots: 22

number_bins: 20
max_number_bins: 20

# erst ab Aufgabe f) einkommentieren
#mc_func:
