title: 

mode:

pseudo_data_fraction:

number_all_variables: 

source_file_data: 
roottree_data: 

source_file_moca: 
roottree_moca: 

# source_file_back:
# roottree_back:

branch_x: 
limits_x: 

branch_y: 
number_y_bins: 0 log
limits_y: 0 0

branch_y: 
number_y_bins: 0
limits_y: 0 0


number_deg_free:
max_number_deg_free:

number_knots:
max_number_knots:

number_bins:
max_number_bins:

# mc_func: